<div class=row>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" #jobSearchBox class="form-control" placeholder="Search for jobs...">
      <span class="input-group-btn">
    <button class="btn btn-default" type="button" (click)="getJob(jobSearchBox.value)">Go!</button>
  </span>
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<div class="panel panel-primary">
  <div class="panel-heading">{{jobPanelHeading}}</div>
  <div class="panel-body">
    {{jobDescription}}
  </div>
</div>
