<div class="row">
  <div class="col-lg-8">
    <div class="panel panel-primary">
      <div class="panel-heading">Featurization Method</div>
      <div class="panel-body">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn" *ngFor="let i of [0,1,2,3,4]">
              <input type="radio" name="sameName" (click)="onClick(method, i)">
               <i class="{{radioClasses[i]}}"></i>
               <span>{{methods[i]}}</span>
             </label>
        </div>
      </div>
    </div>
  </div>
</div>
