<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>{{title}}</h1>
      </div>
      <div class="well well-lg">
        <p>Given skill names and a job, find 5 best CVs that match this job and plot them in radar charts. In a single radar chart, CVs and Jobs are compared to provided skill names. </p>
      </div>
    </div>
  </div>
  <job></job>
  <method></method>
  <skills></skills>

  <div class="panel panel-primary">
    <div class="panel-heading">Radar Charts</div>
    <div class="panel-body">
         <button class="btn btn-success" (click)="onClick()">Graph!</button>
        <div class="row">
          <div class="col-md-6">
            <canvas id="mychart" width="200" height="200"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="mychart2" width="200" height="200"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <canvas id="mychart3" width="200" height="200"></canvas>
          </div>
          <div class="col-md-6">
            <canvas id="mychart4" width="200" height="200"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <canvas id="mychart5" width="200" height="200"></canvas>
          </div>
        </div>
    </div>
  </div>

</div>
